extends second_layout.jade

block title
	title Index of Demo

block content
	// this is the actual displayed content
	p(id="", p-form-hook=some_d_var ? "yes" :"no", marked) This is the index.jade #[i paragraph] that
				| #[b test] continues #[i on] multiple
				| lines goto #[a(target="_blank", href="https://github.com/jadejs/jade/blob/master/docs/views/reference/interpolation.jade") Jade Reference]
				// TODO: should allow empty lines in PipedText or at least show an error
				//|
				| to see examples of interpolation
	ul(isit=some_other_d_var == "woot")
		li.one-css.two-css: a(href!="#"): a(href!="#")!= clickme2
	.img-holder
		img.image(src="logo2.gif", style={background: "red", padding: "0px"})/
